<!DOCTYPE html>
    <div class="container row">
        {{#each pokemon }}
        <div class="col-lg-3 col-md-4 col-sm-6">
            {{> pokemon/p_allPokemon }}
        </div>
        {{/each }}
    </div>
